*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Raleway;
  font-size: 5.5mm;
  margin: 0;
}

h1 {
  font-family: Raleway;
  font-weight: 300;
}

.layout-default {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  &__header {
    text-align: center;
    text-transform: uppercase;
  }

  &__content {
    text-align: center;
  }

  &__footer {
    text-align: center;
  }
}
