@import './config';

// Component: Button
.button {
  background: color('primary') linear-gradient(0, #006cc2, #0b95fd);
  box-shadow: inset 0 0 1px 0 rgba(100%, 100%, 100%, .7);
  font-size: .95em;
  border: 1px solid #1089ea;
  color: color('white');
  border-radius: 2px;
  padding: 8px 20px;
  font-weight: 700;
  line-height: 130%;
  transition: all ease 300ms;

  &:active {
    background: color('primary') linear-gradient(0, #0b95fd, #006cc2);
  }

  &:focus-visible {
    box-shadow: 0 0 3px 2px rgba(color('secondary'), $alpha: 1.0);
  }

  &:disabled {
    border: 1px solid #b4b4b4;
    background: color('gray');
    color: rgba(color('text'), $alpha: 0.7)
  }
}
