@import './config';

.page {
  font-family: Raleway, sans-serif;
  font-size: 5mm;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  h1 {
    font-family: Raleway, sans-serif;
    font-weight: 300;
  }

  &__header {
    text-align: center;
    text-transform: uppercase;
  }

  &__content {
    text-align: center;
  }

  &__footer {
    text-align: center;
  }
}

// Component: Button

.button {
  background-color: color('primary');
  color: color('white');
  border: 0;
  border-radius: 2mm;
  padding: 2mm 5mm;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 130%;
}

// Component: Selectable

.selectable {
  display: inline-block;

  &:focus {
    outline: none;
    box-shadow: 0 0 1mm teal;
  }

  &--selected {
    outline: .5mm solid currentColor;

    &:focus {
      box-shadow: 0 0 1mm teal;
      outline: .5mm solid currentColor;
    }
  }

  &__input {
    display: none;
  }
}

// Component ReCaptcha

.recaptcha {
  display: inline-block;
}
