@import './config';

// Component: ModalHeader
.modalHeader {
  h2, h3 {
    margin: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 20px 15px 10px;
  }

  &__title {
    color: color('text-strong');
  }

  &__title,
  &__icon {
    margin: 0 5px;
  }

  &__separator {
    background-image: url('/images/bg-dotted.png');
    height: 10px;
    margin: 0 20px 30PX;
  }
}
