@import './config';

// Component: Selectable
.selectable {
  display: inline-block;
  padding: 0;
  position: relative;

  &:focus {
    outline: none;
  }

  &:focus::before {
    border: 5px solid #ff9a0066;
  }

  &--selected::before,
  &--selected:focus::before {
    border: 5px solid color('primary');
  }

  &::before {
    content: '';
    display: block;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__input {
    display: none;
  }
}
