.label {
  display: inline-block;

  &:focus {
    outline: none;
    box-shadow: 0 0 1mm teal;
  }
}

.labelSelected {
  outline: .5mm solid currentColor;

  &:focus {
    box-shadow: 0 0 1mm teal;
    outline: .5mm solid currentColor;
  }
}

.input {
  display: none;
}
